<header id="header" >
  <div class="container">
    <div class="row align-items-center justify-content-between d-flex">
      <div id="logo">
        <a href=""><img src="assets/img/logo-wheels.png" alt="" title="" /></a>
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="">A propos de nous </a></li>
          <li><a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="'active'">se connecter</a></li>
          <li><a class="nav-link" [routerLink]="['/addBike']" [routerLinkActive]="'active'">Louer mon vélo</a></li>
          <li><a class="nav-link" [routerLink]="['/reservation']" [routerLinkActive]="'active'">Réserver un vélo</a></li>

        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </div>
</header><!-- #header -->



