<app-header></app-header>
<!-- start banner Area -->
<section class="banner-area relative" id="homeid">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row fullscreen d-flex align-items-center justify-content-center">
      <div class="banner-content col-lg-7 col-md-6 ">
        <h1 class="text-white text-uppercase">
          Louez un vélo à l'heure ou à la journée
        </h1>
        <p class="pt-20 pb-20 text-white">
          Plateforme de location de vélos en ligne rapide et facile.
        </p>
      </div>
      <div class="col-lg-5  col-md-6 header-right">
        <h4 class="text-white pb-30">Votre Vélo en Un Click!</h4>
        <form class="form" role="form" autocomplete="off">
          <div class="form-group">
            <div class="default-select" id="default-select">
            <select>
              <option value="" disabled selected hidden>Select Your Car</option>
              <option value="1">BMW</option>
              <option value="1">Farrari</option>
              <option value="1">Toyota</option>
            </select>
          </div>
      </div>
      <div class="form-group row">
        <div class="col-md-6 wrap-left">
          <div class="default-select">
          <select>
            <option value="" disabled selected hidden>Pickup</option>
            <option value="1">Pickup One</option>
            <option value="1">Pickup Two</option>
            <option value="1">Pickup Three</option>
            <option value="1">Pickup Four</option>
          </select>
        </div>
      </div>
      <div class="col-md-6 wrap-right">
        <div class="input-group dates-wrap">
          <input id="datepicker" class="dates form-control" placeholder="Date & time" type="text">
          <div class="input-group-prepend">
            <span  class="input-group-text"><span class="lnr lnr-calendar-full"></span></span>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6 wrap-left">
        <div class="default-select">
        <select>
          <option value="" disabled selected hidden>Drop off</option>
          <option value="1">Drop off One</option>
          <option value="1">Drop off Two</option>
          <option value="1">Drop off Three</option>
          <option value="1">Drop off Four</option>
        </select>
      </div>
    </div>
    <div class="col-md-6 wrap-right">
      <div class="input-group dates-wrap">
        <input id="datepicker2" class="dates form-control" id="exampleAmount" placeholder="Date & time" type="text">
        <div class="input-group-prepend">
          <span  class="input-group-text"><span class="lnr lnr-calendar-full"></span></span>
        </div>
      </div>
    </div>
  </div>
  <div class="from-group">
    <input class="form-control txt-field" type="text" name="name" placeholder="Your name">
    <input class="form-control txt-field" type="email" name="email" placeholder="Email address">
    <input class="form-control txt-field" type="tel" name="phone" placeholder="Phone number">
  </div>
  <div class="form-group row">
    <div class="col-md-12">
      <button type="reset" class="btn btn-default btn-lg btn-block text-center text-uppercase">Confirm Car Booking</button>
    </div>
  </div>
  </form>
  </div>
  </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start feature Area -->
<section class="feature-area section-gap" id="service">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8 pb-40 header-text">
        <h1>Quels sont les services que nous offrons à nos clients</h1>
        <p>
          Qui sont extrêmement amoureux du système écologique.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-feature">
          <h4><span class="lnr lnr-map-marker"></span> Service Pratique</h4>
          <p>
            Des vélos en bas de chez vous et Des dizaines de milliers de vélos en Europe de tout types.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-feature">
          <h4><span class="lnr lnr-location"></span> Un prix adapté pour chaque trajet </h4>
          <p>
            Louez pour une heure ou pour plusieurs jours n'importe ou vous êtes.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-feature">
          <h4><span class="lnr lnr-phone"></span>Un service de confiance</h4>
          <p>
            Pour toute commande ou information complémentaire, nous vous invitons à contacter notre service clientèle.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-feature">
          <h4><span class="lnr lnr-user"></span>Utilisateurs évalués et accessibles</h4>
          <p>
            Vous trouvez des informations sur le propriétaire du vélo ou le locataire grâce aux évaluations laissées par les autres membres. Pas de surprise !.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-feature">
          <h4><span class="lnr lnr-license"></span> Système de vérification efficace</h4>
          <p>
            Nous vérifions les documents d'identité des locataires avant toute location.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-feature">
          <h4><span class="lnr lnr-bubble"></span>feedback positif</h4>
          <p>
            Rejoignez nous et faites partie d'une clientèle satisfaite.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End feature Area -->




<!-- start footer Area -->
<footer class="footer-area footer-gap">
  <div class="container">
    <div class="row">
      <p class="mt-20 mx-auto footer-text col-lg-12">
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made by <a href="https://colorlib.com" target="_blank">Bug Busters</a>
      </p>
    </div>
  </div>
</footer>
<!-- End footer Area -->

<router-outlet></router-outlet>
