<p>modal <i data-toggle="modal" data-target="#exampleModalLong" class="fa fa-edit" style="font-size:20px; color:grey"></i></p>
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
      
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Réservation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>  
        <div class="modal-body">
         <form action="action_page.php">

            <label for="fname">Nom et prénom</label>
            <input type="text" id="fname" name="firstname" placeholder="Nom et prénom">
        
            <label for="debut">Date début</label> <br/>
            <input id="debut" [owlDateTimeTrigger]="dt5" [owlDateTime]="dt5"
            [selectMode]="'rangeFrom'">
            <owl-date-time #dt5></owl-date-time><br/>

            <label for="fin">Date fin</label> <br/>
            <input  id="fin" [owlDateTimeTrigger]="dt12" [owlDateTime]="dt12"   
            [selectMode]="'rangeFrom'">
            <owl-date-time #dt12></owl-date-time><br/>  


          </form> 
        
          
        </div>

        
        <div class="modal-footer">
          <button type="button"  class="btn btn-secondary">Ajouter une catégorie</button>
          <button type="button"  class="btn btn-primary">Valider</button>
        </div>
      </div>
    </div>
  </div>