<app-header></app-header>
<html style="background-color: #222222a1">
<section class="model-area section-gap">
  <div class=" d-flex justify-content-center pb-40">
    <div class="col-md-8 pb-40 header-text">
      <h1 style="color: white" class="text-center pb-10">Résultat de votre recherche</h1>
    </div>
  </div>

  <div class="row-card" *ngFor="let bike of listBikes">
    <div class="container-car single-feature">

      <div class="row align-items-center single-model item">
        <div class="col-lg-6 model-left">
          <div class="title justify-content-between d-flex">
            <h4 class="mt-20">{{bike.nom}}</h4>
            <h2>{{bike.prix}}<span>/heure</span></h2>
          </div>
          <p *ngIf=" {{bike.dispo}}=== true">
            True </p>
          <a class="text-uppercase primary-btn" href="#">Réserver</a>
        </div>
        <div class="col-lg-6 model-right">
          <img class="img-fluid" src="assets/img/car.jpg" alt="">
        </div>
      </div>
    </div>

  </div>
</section>
</html>
