<app-header></app-header>
<html style="background-color: #222222a1">
<section class="model-area section-gap">
  <div class=" d-flex justify-content-center pb-40">
    <div class="col-md-8 pb-40 header-text">
      <h1 style="color: white" class="text-center pb-10">Résultat de votre recherche</h1>
    </div>
  </div>

  <div class="row-card">
    <div class="container-car single-feature">

      <div class="row align-items-center single-model item">
        <div class="col-lg-6 model-left">
          <div class="title justify-content-between d-flex">
            <h4 class="mt-20">Vélo hollandais</h4>
            <h2>5£<span>/heure</span></h2>
          </div>
          <a class="text-uppercase primary-btn" href="#">Réserver</a>
        </div>
        <div class="col-lg-6 model-right">
          <img class="img-fluid" src="assets/img/hollandais.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="container-car single-feature">

      <div class="row align-items-center single-model item">
        <div class="col-lg-6 model-left">
          <div class="title justify-content-between d-flex">
            <h4 class="mt-20">Vélo pliant</h4>
            <h2>7£<span>/heure</span></h2>
          </div>
          <a class="text-uppercase primary-btn" href="#">Réserver</a>
        </div>
        <div class="col-lg-6 model-right">
          <img class="img-fluid" src="assets/img/pliant.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="row-card">
    <div class="container-car single-feature">

      <div class="row align-items-center single-model item">
        <div class="col-lg-6 model-left">
          <div class="title justify-content-between d-flex">
            <h4 class="mt-20">Kick scooter</h4>
            <h2>8£<span>/heure</span></h2>
          </div>
          <a class="text-uppercase primary-btn" href="#">Réserver</a>
        </div>
        <div class="col-lg-6 model-right">
          <img class="img-fluid" src="assets/img/kick.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="container-car single-feature">

      <div class="row align-items-center single-model item">
        <div class="col-lg-6 model-left">
          <div class="title justify-content-between d-flex">
            <h4 class="mt-20">Vélo électrique</h4>
            <h2>9£<span>/heure</span></h2>
          </div>
          <a class="text-uppercase primary-btn" href="#">Réserver</a>
        </div>
        <div class="col-lg-6 model-right">
          <img class="img-fluid" src="assets/img/electrique.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
</html>
