<app-header></app-header>
<!-- start banner Area -->
<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row fullscreen d-flex align-items-center justify-content-center">
      <div class="banner-content col-lg-7 col-md-6 ">
        <h1 class="text-white text-uppercase">
          Louez un vélo à l'heure ou à la journée
        </h1>
        <p class="pt-20 pb-20 text-white">
          Plateforme de location de vélos en ligne rapide et facile.
        </p>
      </div>
      <div class="col-lg-5  col-md-6 header-right">
        <h4 class="text-white pb-30">Votre Vélo en Un Click!</h4>
        <form class="form" role="form" autocomplete="off">
            <div class="from-group">
                <div class="input-group dates-wrap">
                    <input id="location" class="dates form-control" placeholder="Adresse précise , lieu ..." type="text">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><span class="lnr lnr-map-marker"></span></span>
                    </div>
                  </div>
              </div>
              <br>
          <div class="form-group row">
            <div class="col-md-6 wrap-left">
              <div class="input-group dates-wrap">
                <input id="datepicker" class="dates form-control" placeholder="Date Pick up" type="text">
                <div class="input-group-prepend">
                  <span class="input-group-text"><span class="lnr lnr-calendar-full"></span></span>
                </div>
              </div>
            </div>
            <div class="col-md-6 wrap-right">
              <div class="input-group dates-wrap">
                <input id="datepicker2" class="dates form-control" id="exampleAmount" placeholder="Date Drop off"
                       type="text">
                <div class="input-group-prepend">
                  <span class="input-group-text"><span class="lnr lnr-calendar-full"></span></span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-12">
              <button type="reset" class="btn btn-default btn-lg btn-block text-center text-uppercase">Rechercher
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start feature Area -->
<section class="feature-area section-gap" id="service">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8 pb-40 header-text">
        <h1>Quels sont les services que nous offrons à nos clients</h1>
        <p>
          Qui sont extrêmement amoureux du système écologique.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-feature">
          <h4><span class="lnr lnr-map-marker"></span> Service Pratique</h4>
          <p>
            Des vélos en bas de chez vous et Des dizaines de milliers de vélos en Europe de tout types.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-feature">
          <h4><span class="lnr lnr-location"></span> Un prix adapté pour chaque trajet </h4>
          <p>
            Louez pour une heure ou pour plusieurs jours n'importe ou vous êtes.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-feature">
          <h4><span class="lnr lnr-phone"></span>Un service de confiance</h4>
          <p>
            Pour toute commande ou information complémentaire, nous vous invitons à contacter notre service clientèle.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-feature">
          <h4><span class="lnr lnr-user"></span>Utilisateurs évalués et accessibles</h4>
          <p>
            Vous trouvez des informations sur le propriétaire du vélo ou le locataire grâce aux évaluations laissées par
            les autres membres. Pas de surprise !.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-feature">
          <h4><span class="lnr lnr-license"></span> Système de vérification efficace</h4>
          <p>
            Nous vérifions les documents d'identité des locataires avant toute location.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-feature">
          <h4><span class="lnr lnr-bubble"></span>feedback positif</h4>
          <p>
            Rejoignez nous et faites partie d'une clientèle satisfaite.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End feature Area -->
<!-- Start home-about Area -->
<section class="home-about-area" id="about">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6 no-padding home-about-left">
        <img src="assets/img/search.svg" alt="" width="300" height="300">
      </div>
      <div class="col-lg-6 no-padding home-about-right">
        <h3>Voici la nouvelle manière de louer un vélo</h3>
        &nbsp;
        <div style="align-content: center;">
          <p>
            <span>Louez pour une heure ou pour plusieurs jours</span>
          </p>
          <p>
            Un prix adapté pour chaque trajet
          </p>
          <p>
            <span>Gérez tout depuis l’application</span>
          </p>
          <p>
            Réservation...
          </p>
          <p>
            <span>Des vélos en bas de chez vous</span>
          </p>
          <p>
            Des dizaines de milliers de vélos en Europe
          </p>
        </div>
        &nbsp;
      </div>
    </div>
  </div>
</section>
<!-- End home-about Area -->
<!-- start footer Area -->
<footer class="footer-area footer-gap">
  <div class="container">
    <div class="row">
      <p class="mt-20 mx-auto footer-text col-lg-12">
        Copyright &copy; All rights reserved | Made by <a href="" target="_blank">Bug Busters</a>
      </p>
    </div>
  </div>
</footer>
<!-- End footer Area -->
